header{
  text-align: center;
  background-image: url('../assets/space-world.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-around;
}

.section-title{
  height: 80px;
  background: rgb(220, 233, 238);
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}