#construction{
  text-align: center;
  padding: 100px;
  font-size: 50px;
}

/* end construction */

header{
  text-align: center;
  background-image: url('../assets/space-world.jpg');
  background-position: center;
  background-size: cover;
}

h1:not(#construction){
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-around;
}